.root {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-image: url("../../public/avatar.jpg");
  background-position: center;
  background-size: cover;
  border: 4px solid white;
}
