.section .container > h2 {
    font-family: 'Black Han Sans';
    color: white;
    font-size: 64px;
    text-transform: uppercase;

}

#contact-section .row{
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 50x;
    margin-right: 50px;
}

#contact-section label{
    color: white;
    font-family: 'Montserrat', 'regular';
    font-size: 16px;
}

#contact-section .form-control {
    font-family: 'Roboto Slab';
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}